WCFClient/Service References/CustomerServiceProxy/CustomerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://coreabe-p.central.bccr.fi.cr/WCFDIExample/CustomerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFExample.Model" />
  <xs:element name="GetCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFExample.Model" minOccurs="0" name="request" nillable="true" type="q1:GetCustomerRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFExample.Model" minOccurs="0" name="GetCustomerResult" nillable="true" type="q2:GetCustomerResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>